<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create book</title>
</head>
<body>
<form action="#" th:action="@{/book-create}" th:object="${book}" method="post">
    <label for="book_title">Название книги</label>
    <input type="text" th:field="*{book_title}" id="book_title" placeholder="Название книги">
    <label for="author_name">Имя автора</label>
    <input type="text" th:field="*{author_name}" id="author_name" placeholder="Имя автора">
    <input type="submit" value="Create Book">
</form>
</body>
</html>